.bash_history
.bash_logout
.bashrc
.bundle/
.cache/
.cloud-locale-test.skip
.config/
.cpanm/
.gem/
.gitconfig
.local/go/
.local/node/
.local/perl/
.local/php/bin/
.local/php/include/
.local/php/lib/
.local/php/sbin/
.local/php/share/
.local/php/var/
.local/ruby/
.local/share/
.node-gyp/
.npm/
.profile
.ssh/
.sudo_as_admin_successful
.viminfo
.xbuild/
bin/
.mysql_history